.page-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.layout-container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 64em;
}

main {
  padding: 2em 0;
}

.region-content-bottom {
  display: flex;
  justify-content: space-between;
}
