.region-preheader,
.region-postfooter {
  font-size: 0;
}

.adsense {
  width: $mobile-small;

  @include breakpoint($phablet) {
    width: $phablet;
  }

  @include breakpoint($tablet) {
    width: $tablet;
  }

  @include breakpoint($laptop) {
    width: $laptop;
  }

  @include breakpoint($desktop) {
    width: $desktop;
  }

  @include breakpoint($widescreen) {
    width: $widescreen;
  }

}
