.view-artists,
.view-artists-new,
.view-artists-by-tag {
  @include tiles;

  .views-row {
    @include tile;
  }

  .attachment {
    .view-content {
      @include glossary;
    }
  }
}

.taxonomy-term.vocabulary-artists {
  .content {
    @include top-block;
  }

  .field--name-field-image {
    @include image-main;
  }
}

.artist__bio {
  flex-basis: 30em;
  order: 3;

  .field {
    margin-bottom: 1em;
  }

  .field--name-field-tags {
    @include block-dark;
  }
}

.field--name-field-born,
.field--name-field-died {
  display: inline-block;
  width: 8em;
}
