// See http://thenewcode.com/627/Make-A-Responsive-CSS3-Image-Slider

.field--name-field-images {
  overflow: hidden;
}

.image-carousel {
  position: relative;
  font-size: 0;

  .field__item {
    height: auto;
    display: inline-block;
    position: inherit;
  }

  img {
    width: 100%;
    height: auto;
  }
}

/// Set up image carousels. 
///
/// @param {int} $items - the number of items
/// @param {int} $speed [6] - the duration of each item in seconds
///

@mixin carousel($items, $speed: 6) {
  $duration: $items * $speed;
    
  animation: #{$duration}s slidy-#{$items} infinite;  
  width: (100% * $items);
  
  .field__item {
    width: (100% / $items);
    height: auto;
    display: inline-block;
    position: inherit;
  }
}

@for $i from 2 through 5 {
  .carousel-#{$i} {
    @include carousel($i);
  }
  
  @keyframes slidy-#{$i} {
    /**
     * There are $i images in the carousel.
     * The first image is repeated, so there are $i - 1 distinct images to share the transition time.
     */
    $duration_per_slide: 100 / ($i - 1);
    $moving_time: 5;
    $still_time: $duration_per_slide - $moving_time;
    
    @for $j from 0 through $i {

      $slide_start: round($j * $duration_per_slide);
      $slide_end: round($slide_start + $still_time);

      $left_offset: 0 - ($j * 100);

      @if ($slide_start <= 100) {
        #{$slide_start}% {
          left: #{$left_offset}%;
        }
      }

      @if ($slide_end < 100) {
        #{$slide_end}% {
          left: #{$left_offset}%;
        }        
      }
    }
  }
}
