label {
  display: inline-block;
  width: 8em;  
}

.form-text {
  display: inline-block;
  width: 10em;
}

.form-submit {
  padding: .5em;
  background: $red;
  color: $white;
  border: 0;
  box-shadow: $shadow;
  
  &:hover,
  &:focus {
    background: $red-dark;
    text-decoration: underline;
  }
}