.path-frontpage {
  .page-title {
    @include element-invisible;
  }
}

.view-frontpage {
  .carousel-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    background: $grey-dark;
    color: $white;
    
    @include breakpoint($phablet) {
      flex-wrap: nowrap;
    }
  }
  
  .carousel-image {
    flex-grow: 1;
  }
  
  .carousel-text {
    display: block;
    min-height: 7em;
    padding: 1em;
    font-size: initial;
    
    @include breakpoint($mobile-only) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    
    @include breakpoint($mobile) {
      flex-basis: 15em;
      flex-grow: 0;
    }
    
    h2 {
      margin: 0;
      font-size: 1.25em;
    }
  }
}
