.path-frontpage {
  .page-title {
    @include element-invisible;
  }

  .block-views-blockexhibitions-new-block-1,
  .block-views-blockgalleries-new-block-1 {
    max-width: 30em;
  }
}

.view-frontpage {
  .carousel-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    background: $grey-dark;
    color: $white;
    
    @include breakpoint($phablet) {
      flex-wrap: nowrap;
    }
  }
  
  .carousel-image {
    flex-grow: 1;
  }
  
  .carousel-text {
    display: block;
    flex-basis: 15em;
    flex-grow: 1;
    padding: 1em;
    font-size: initial;
  }
}
