.view-galleries-a-z,
.view-galleries-new,
.view-galleries-by-tag,
.view-galleries-this-artist {
  @include tiles;
}

.view-header .view-gallery-single {
  .views-row {
    @include details-block;

    width: auto;
    height: auto;

    h2 {
      height: auto;
      margin-top: 0;
      font-weight: bold;
    }

    &:hover,
    &:focus {
      h2 {
        margin-top: 0;
      }
    }
  }
}

.attachment {
  .view-content {
    @include glossary;
  }
}

.node--type-gallery {
  &.node--view-mode-teaser {
    @include tile;
  }

  &.node--view-mode-basic-listing {
    h2 {
      margin: 0 0 .25em;
    }
  }

  .gallery__top {
    @include top-block;
  }

  .gallery__details {
    @include details-block;
    order: 2;

    @include breakpoint($laptop) {
      order: 1;
    }
  }

  .field--name-field-images {
    @include image-main;
  }

  .address .country {
    display: none;
  }
}

.gallery__tags {
  @include tags-wrapper;
}

.gallery__admission {
  .field {
    float: left;
    width: 8em;
  }
}

.gallery__body {
  @include breakpoint($laptop) {
    display: flex;
    justify-content: space-between;

    .field--name-body {
      padding-right: 1em;
    }
  }
}

.gallery__map {
  @include breakpoint($laptop) {
    min-width: 25em;
  }
}

.gallery__links {
  margin-top: .5em;

  a {
    @include button-primary;

    @include breakpoint($tablet-down) {
      display: block;
      margin: 0 auto 1em;
    }
  }
}

.field__label {
  margin-bottom: .125em;
}

.address {
  margin-top: 0;
}

.office-hours-display {
  display: block;
  margin-bottom: .25em;
}

.office-hours-display-label {
  display: inline-block;
  width: 6.5em;
}

.field--name-field-facilities {
  .field__item {
    display: inline-block;
    margin-right: .25em;
  }
}

.field--name-field-website a {
  @include text-ellipsis;
  max-width: $details-block-width - 2em;
}
