header {
  background: $grey-dark;
  color: $white;
  border-bottom: 1.65em solid $red;
}

.region-header {
  position: relative;  
}

.block-system-branding-block {
  float: left;
}

.social-links {
  float: right;
  padding: .5em 0;
  font-size: 2em;
  
  a {
    display: inline-block;
    height: 1.5em;
    padding: .25em;
    border: 1px solid transparent;
    
    &:hover,
    &:focus {
      text-decoration: none;
      border-color: $red;
      color: $red;
    }
  }
}

.menu--account {
  position: absolute;
  top: 3.75em;
  right: 0;
  z-index: 5;
}
