@mixin active-link {
  background: $red;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu__link {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.menu-item {
  display: inline-block;
  padding: 0;

  a {
    display: block;
    padding: .25em;
  }

  // Second level menu.
  .menu {
    position: absolute;
    top: 1.8em;
    left: -9999em;
    width: 100%;
    background: $red;
    z-index: 1;

    @include breakpoint($mobile-only) {
      min-height: 5em;
      box-shadow: 5px 5px 5px $grey-box-shadow;
    }

    @include breakpoint($laptop) {
      top: 1.6em;
    }
  }

  &:hover,
  &:focus,
  &.has-focus,
  &.menu-item--active-trail {
    .menu {
      left: 0;
    }
  }

  &:hover,
  &:focus,
  &.has-focus {
    .menu {
      z-index: 2;
    }
  }

  .menu-item {
    @include breakpoint($mobile-only) {
      width: 49%;
      padding: .25em;
    }
  }
}

.menu--primary-links {
  position: relative;
  clear: both;
  background: $grey-dark;
  color: $white;

  a {
    color: $white;
  }

  .menu-item--active-trail {
    @include active-link;
  }

  .menu-item {
    &:hover,
    &:focus,
    &.has-focus,
    .is-active {
      @include active-link;
    }
  }
}
