.search-block-form {
  float: right;
  clear: right;
  margin-bottom: 1em;
  color: $grey-dark;

  .form-submit {
    @include sprite($search);
    @include icon-inline;
    @include hover-red-box;

    background-color: transparent;
    box-shadow: none;
    padding: 0;
    
    &:hover,
    &:focus {
      @include sprite($search);
    }
  }
}

.search-results {
  padding: 0;
  
  li {
    margin: 0 0 1.5em;
  }
  
  h3 {
    margin-bottom: 0;
  }

  .search-result__snippet {
    margin-top: .25em;
  }
}
