.search-block-form {
  float: right;
  clear: right;
  margin-bottom: 1em;
  color: $grey-dark;

  .form-submit {
    @include icon-inline;
    background: url('/themes/custom/gall/src/icons/search-white.svg') no-repeat transparent center center;
    padding: 10px;
    box-shadow: none;

    &:hover,
    &:focus {
      background: url('/themes/custom/gall/src/icons/search-red.svg') no-repeat transparent center center;
    }
  }
}

.search-results {
  padding: 0;

  li {
    margin: 0 0 1.5em;
  }

  h3 {
    margin-bottom: 0;
  }

  .search-result__snippet {
    margin-top: .25em;
  }
}
