.tabs {
  display: flex;
  align-content: space-between;
  align-items: stretch;

  @include breakpoint($mobile-only) {
    width: 100%;
  }

  li {
    flex-basis: 50%;
    flex-grow: 1;

    &.is-active {
      @include element-invisible;
    }
  }

  a {
    @include button-secondary;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    text-align: center;
  }
}
