
/// A square block with a translucent heading over it.

@mixin tile {
  display: block;
  position: relative;
  width: 11.75em;
  height: 11.75em;
  overflow: hidden;

  @include breakpoint(680px 800px) {
    width: 9.75em;
    height: 9.75em;

    .overlay-text {
      font-size: 0.9em;
    }
  }

  @include breakpoint($desktop) {
    width: 13.75em;
    height: 13.75em;
  }

  .overlay-text {
    position: absolute;
    top: 75%;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: .25em;
    background: $grey-translucent;
    color: $white;
    text-align: center;
    z-index: 1;
    transition: top .25s;

    .views-field {
      @include element-invisible;

      margin: 1em 0;
      padding: 0 1em;
    }
  }

  h2 {
    height: 2.4em;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.1em;
    overflow: hidden;
  }

  &:hover,
  &:focus {
    .overlay-text {
      top: 0;

      .views-field {
        @include element-invisible-off;
      }
    }

    h2 {
      height: auto;
      margin-top: 1em;
    }
  }
}

/// A set of tiles.

@mixin tiles {
  .view-content,
  .view-grouping {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include breakpoint($tablet) {
      justify-content: space-between;
    }
  }

  .views-row {
    @include tile;
    margin-bottom: 2em;
  }

  .dummy-row {
    @include tile;
    height: 0 !important;
  }
}

/// A square block with a translucent heading over it.

.tiles-view-tile {
  @include tile;
}
