$tile-tiny: 7.75em;
$tile-smaller: 8.75em;
$tile-small: 9.75em;
$tile-medium: 11.75em;
$tile-large: 13.75em;
$tile-larger: 15.75em;

/// A square block with a translucent heading over it.

@mixin tile {
  display: block;
  position: relative;
  width: $tile-smaller;
  height: $tile-smaller;
  overflow: hidden;
  font-size: 0.9em;

  @include breakpoint($mobile-small) {
    width: $tile-small;
    height: $tile-small;
  }

  @include breakpoint($phablet) {
    width: $tile-smaller;
    height: $tile-smaller;

    .overlay-text {
      font-size: 0.7em;
    }
  }

  @include breakpoint(620px) {
    width: $tile-smaller;
    height: $tile-smaller;

    .overlay-text {
      font-size: 0.9em;
    }
  }

  @include breakpoint($tablet) {
    width: $tile-small;
    height: $tile-small;
  }

  @include breakpoint($laptop) {
    .block-views & {
      width: $tile-larger;
      height: $tile-larger;
    }
  }

  @include breakpoint($desktop) {
    width: $tile-large;
    height: $tile-large;

    .overlay-text {
      font-size: 1em;
    }
  }

  .overlay-text {
    position: absolute;
    top: 75%;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: .125em;
    background: $grey-translucent;
    color: $white;
    text-align: center;
    z-index: 1;
    transition: top .25s;

    .views-field {
      @include element-invisible;

      margin: 1em 0;
      padding: 0 1em;
    }
  }

  h2 {
    height: 2.4em;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: .9em;
    overflow: hidden;

    @include breakpoint($phablet) {
      font-size: 1.1em;
    }
  }

  &:hover,
  &:focus {
    .overlay-text {
      top: 0;

      .views-field {
        @include element-invisible-off;
      }
    }

    h2 {
      height: auto;
      margin-top: 1em;
    }
  }
}

/// A set of tiles.

@mixin tiles {
  .view-content,
  .view-grouping {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include breakpoint($tablet) {
      justify-content: space-between;
    }
  }

  .views-row {
    @include tile;
    margin-bottom: 2em;
  }

  .dummy-row {
    @include tile;
    height: 0 !important;
  }
}

/// A square block with a translucent heading over it.

.tiles-view-tile {
  @include tile;
}
