/// Breakpoints

$widescreen: 1240px;
$desktop: 1030px;
$laptop-only: 900px 1030px;
$laptop: 900px;
$tablet: 768px;
$tablet-down: 0 767px;
$phablet: 481px;
$mobile-only: 0 480px;
$mobile: 480px;
$mobile-small: 321px;
