* {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

/**
 * Links
 *
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */
a:link {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:active {
}

/* Address `outline` inconsistency between Chrome and other browsers. */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and also mouse hovered in all browsers. */
a:active,
a:hover {
  outline: 0;
}
