.view-id-galleries_nearby {
  .views-row {
    display: inline-block;
    margin-bottom: 1em;

    @include breakpoint($tablet) {
      width: 14em;
    }

    @include breakpoint($desktop) {
      width: 15em;
    }
    
    a {
      display: flex;
      align-items: center;
    }
  }

  .gallery__details {
    padding: .5em;
  }

  h2 {
    font-size: 1em;
    margin: 0 0 .25em;
  }
}
