/// Makes an element visually hidden, but accessible.
/// See http://snook.ca/archives/html_and_css/hiding-content-for-accessibility

@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/// Turns off the element-invisible effect.

@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

/// Makes an element visually hidden by default, but visible when focused.

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}


@mixin float-fix() {
  &:before,
  &:after {
    display: table;
    content: ' ';
    visibility: hidden; // Firefox
  }

  &:after {
    clear: both;
  }
}

/// Hide text of an element, for example when applying an image sprite.

@mixin hide-text {
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}

/// Convert a pixel value to ems.

@function em($pixels, $context: $base-font-size) {
  @return #{$pixels/$context}em
}

/// Set up an icon to display inline-block.

@mixin icon-inline {
  @include hide-text;
  
  display: inline-block;
  content: ' ';
}

/// Set up an icon to display as a block.

@mixin icon-block {
  @include hide-text;

  display: block;
  content: ' ';
}

@mixin hover-red-box {
  border: 1px solid transparent;

  &:hover,
  &:focus {
    text-decoration: none;
    border-color: $red;
    color: $red;
  }
}

/// Navigation for a glossary.

@mixin glossary {
  justify-content: center;
  margin-bottom: 2em;
  background: $grey-light;

  .views-summary {
    border: 1px solid $white;
    
    a {
      display: inline-block;
      padding: 0.5em;
      width: 1.75em;
      background: $red;
      color: $white;
      text-align: center;

      &.is-active,
      &:hover,
      &:focus {
        background: $grey-dark;
      }
    }
  }
}

/// Block with dark background and light text

@mixin block-dark {
  background: $grey-dark;
  color: $white;
  
  > .field__label {
    @include subheading;
    padding-left: .5em;
  }
  
  .field__items {
    padding: .5em;
  }
}

/// Sub-heading

@mixin subheading {
  padding: .25em;
  background: $red;
  color: $white;
  font-weight: normal;
  font-size: 1.25em;
}

/// Button
///
/// Useful for links etc.

@mixin button {
  display: inline-block;
  margin: 0 .5em .5em 0;
  padding: .5em;
  background: $red;
  color: $white;
  border: 0;
  box-shadow: $shadow;

  &:hover,
  &:focus {
    background: $red-dark;
    text-decoration: underline;
  }
}
