/**
 * Colours.
 */
$white: #fff;
$black: #000;
$grey-light: #ccc;
$grey: #666;
$grey-dark: #333;
$grey-translucent: rgba(0, 0, 0, .6);
$red: #ce1019;
$red-dark: darken($red, 20%);
$orange: #cc731c;

$shadow: 0 2px 2px 0 $grey;

$century: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

$details_block_width: 15em;
